Options -MultiViews
RewriteEngine On

# Direkte Dateien und Ordner nicht umleiten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alles über index.php routen (API + React SPA)
RewriteRule ^ index.php [QSA,L]
